*, input {
    font-family: 'Fira Sans', sans-serif;
}

#employees-table {
    width: 98%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 100px;
}

#employees-search {
    width: 30%;
    margin: 1%;
    margin-bottom: 0;
    display: inline-block;
}

#employees-login-button {
    margin: 1%;
    float: right;
}

.login-input {
    margin: 3%;
    width: 94%;
}

.form-select {
    width: 7em;
    display: inline-block;
}

#employees-table-navigation {
    margin: 1%;
}
