*,
input {
    font-family: 'Fira Sans', sans-serif;
}

#employees-table {
    width: 98%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 100px;
}

#employees-search {
    width: 30%;
    margin: 1%;
    margin-bottom: 0;
    display: inline-block;
}

#employees-login-button {
    margin: 1%;
    float: right;
}

.form-select {
    width: 7em;
    display: inline-block;
}

#employees-table-navigation {
    margin: 1%;
}

#login-form {
    margin: 3%;
}

#login-error-msg {
    opacity: 0;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    text-align: center;
}

#page-current {
    pointer-events: none;
    color: black;
}

#salary-link {
    color: black;
    font-family: 'Fira Sans', sans-serif;
}

#editModal {
    margin: 3%;
}